<ion-tabs>
  <ion-tab [root]="tab2Root" tabTitle="Checklist" tabIcon="hammer"></ion-tab>
  <ion-tab [root]="tab1Root" tabTitle="Info" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Admin" tabIcon="person"></ion-tab>
</ion-tabs>
