<ion-header>
  <ion-navbar>
    <ion-title>
      Tool List
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<ion-list class="selectList">
    <ion-item>
      <ion-label>Select Fire Truck</ion-label>
      <ion-select interface="popover" [(ngModel)]="currentTruck" (ngModelChange)="currentTruckChange($event)">
        <ion-option *ngFor="let item of items; let i = index;" [value]="item.name">{{ item.name }}</ion-option>
      </ion-select>
    </ion-item>
 </ion-list>

 <ion-card class="truck-status">
    <ion-card-header>
      <ion-item>
          Truck Status
          <ion-badge item-end>{{ status.checked + status.missing }} / {{ status.total }}</ion-badge>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
        <ion-grid>
            <ion-row>
              <ion-col>
                Completed:
              </ion-col>
               <ion-col>
                   <progress-bar [bgColor]="'#4CAF50'" [progress]="(status.checked / status.total) * 100"></progress-bar>
                 </ion-col>
            </ion-row>
            <ion-row>
               <ion-col>
                 Missing:
               </ion-col>
                <ion-col>
                    <progress-bar [bgColor]="'#BDBDBD'" [progress]="(status.missing / status.total) * 100"></progress-bar>
                  </ion-col>
             </ion-row>
          </ion-grid>
    </ion-card-content>
  </ion-card>

 <div class="accordion-wrapper">
    <accordion (itemStatusChange)="updateStatus()"  #accordion></accordion>
 </div>
  
  <button (click)="submit();" class="submitter" color="primary" ion-button full>SUBMIT</button>
</ion-content>
