page-checklist {
    
    .submitter {
        max-width: 400px;
        margin: 20px auto;
    }

    .truck-status {
        ion-card-header {
            padding-bottom: 0px;
        }
    }

    .accordion-wrapper {
        padding-top: 20px;
    }
}
