<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-slides pager>
        <ion-slide>
          <h2>Welcome Firefighters!</h2>
          <p>This app allows you to complete and submit checklists to your captain.</p>
          <small>Slide left to learn more.</small>
        </ion-slide>
      
        <ion-slide>
          <h2>Slide 2</h2>
        </ion-slide>
      
        <ion-slide>
          <h2>Slide 3</h2>
        </ion-slide>
      </ion-slides>
</ion-content>
