<ion-grid>
  <ion-row>
    <ion-col>
        <ion-list class="selectList">
            <ion-item>
              <ion-label>Select Fire Truck</ion-label>
              <ion-select interface="popover" [(ngModel)]="currentTruck" (ngModelChange)="currentTruckChange($event)">
                <ion-option *ngFor="let item of items; let i = index;" [value]="item.name">{{ item.name }}</ion-option>
              </ion-select>
            </ion-item>
         </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
        <editable-accordion #editableAccordion></editable-accordion>
    </ion-col>
  </ion-row>
</ion-grid>