<ion-header>
  <ion-navbar>
    <ion-title>
      Account
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="!loggedIn">
    <ion-list>
        <ion-list-header>Admin Login</ion-list-header>
        <ion-item>
          <ion-icon name="person" item-start></ion-icon>
          <ion-label fixed>Username</ion-label>
          <ion-input type="text" [(ngModel)]="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="key" item-start></ion-icon>
          <ion-label fixed>Password</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-list>
      <button [disabled]="!username || !password" (click)="submit();" class="submitter" color="primary" ion-button full>LOGIN</button>
  </ion-grid>

  <span *ngIf="loggedIn">
    <!-- user deets -->
    <ion-grid>
      <ion-row>
        <ion-col>
            <h4 no-margin>{{ username }}</h4>
        </ion-col>
        <ion-col>
            <button float-right small (click)="signout()" ion-button color="primary" outline>Sign Out</button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- segment -->
    <ion-segment padding [(ngModel)]="segment">
        <ion-segment-button value="reports">
          Reports
        </ion-segment-button>
        <ion-segment-button value="create">
          Create/Edit Lists
        </ion-segment-button>
    </ion-segment>

    <!-- components -->
    <h3 padding *ngIf="segment === 'reports'">Reports Coming Soon</h3>
    <admin-create *ngIf="segment === 'create'"></admin-create>

  </span>
</ion-content>
