<div>
    <ion-list class="accordion-list">
        <!-- First Level -->
        <ion-list-header *ngFor="let item of accordionItems; let i = index; trackBy: tracker;" no-lines no-padding>
          <!-- Toggle Button -->
          <button class="section-title" ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
            <ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
            <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
              {{ item.name }}
          </button>

          <ion-list *ngIf="item.children && item.open" no-lines>
            <!-- Second Level -->
            <ion-list-header class="second-header" *ngFor="let child of item.children; let j = index; trackBy: tracker;" no-padding>
              <!-- Toggle Button -->
              <button ion-item (click)="toggleItem(i, j)" *ngIf="child.children" class="child" detail-none>
                <ion-icon item-left name="add" *ngIf="!child.open"></ion-icon>
                <ion-icon item-left name="close" *ngIf="child.open"></ion-icon>
                {{ child.name }}
              </button>

              <ion-item-sliding *ngFor="let test of child.tools">
                <ion-item>
                  <ion-avatar item-start>
                    <img [src]="'assets/imgs/' + test.img">
                  </ion-avatar>
                  <h2>{{ test.name}}</h2>
                  <p> {{ test.description }}</p>
                </ion-item>
                <ion-item-options>
                  <button ion-button color="light" icon-start>
                    <ion-icon name="construct"></ion-icon>
                    Edit
                  </button>
                  <button ion-button color="dark" icon-start>
                    <ion-icon name="trash"></ion-icon>
                    Delete
                  </button>
                </ion-item-options>
              </ion-item-sliding>
              <ion-item>
                  <button (click)="addItem()" ion-button color="secondary" round outline icon-start>
                    <ion-icon name='add' is-active="false"></ion-icon>
                    Add Item
                  </button>
              </ion-item>
            </ion-list-header>
          </ion-list>
          
        </ion-list-header>
      </ion-list>
</div>
