accordion {
    ion-item {
        padding-left: 0!important;
    }

    .main-item {
        padding-left: 8px;
    }
    .checkbox-item {
        width: 50px;

        ion-checkbox {
            margin: 8px!important;
        }
    }

    .submitter {
        max-width: 400px;
        margin: 0 auto;
    }

    .accordion-list {
        background: color($colors, dark);
        height: 100%;

        ion-list-header {
            margin-bottom: 0;
            border-top: none;
        }
    }
    .section {
        background: #fff;
        color: #222;
        margin-bottom: 1px;
    }

    .section-title {
       text-transform: uppercase; 
    }
    .section-active {
        background: #e94f37;
        color: #fff;
    }
 
    .child {
        background: #fff;
        color: #222;
        margin-bottom: 1px;
    }
    .child-item {
        background: #fff;
        padding: 0px 10px;
        color: #222;
        cursor: pointer;
    }

    ion-item-sliding {
        padding: 5px 0!important;

        p {
            text-transform: initial;
        }
    }

    ion-item-sliding.missing {
        background-color: #BDBDBD;

        ion-item {
            background-color: #BDBDBD;
        }
    }

    .label {
        margin: 0px;
    }
    .list {
        margin-bottom: 1px;
    }

}
