<div>
    <ion-list class="accordion-list">
        <!-- First Level -->
        <ion-list-header *ngFor="let item of accordionItems; let i = index; trackBy: tracker;" no-lines no-padding>
          <!-- Toggle Button -->
          <button class="section-title" ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
            <ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
            <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
              {{ item.name }}
          </button>
     
          <ion-list *ngIf="item.children && item.open" no-lines>
            <!-- Second Level -->
            <ion-list-header class="second-header" *ngFor="let child of item.children; let j = index; trackBy: tracker;" no-padding>
              <!-- Toggle Button -->
              <button ion-item (click)="toggleItem(i, j)" *ngIf="child.children" class="child" detail-none>
                <ion-icon item-left name="add" *ngIf="!child.open"></ion-icon>
                <ion-icon item-left name="close" *ngIf="child.open"></ion-icon>
                {{ child.name }}
              </button>

              <ion-item-sliding [ngClass]="{'missing': test.missing}" #slidingItem *ngFor="let test of child.tools" text-wrap class="main-item child-item">
                <ion-item>
                  <ion-thumbnail item-start>
                    <img [src]="'assets/imgs/' + test.img">
                  </ion-thumbnail>
                  <h2>{{ test.name }}</h2>
                  <p> {{ test.description }}</p>
                  <ion-item (tap)="checkedItem(test)" class="checkbox-item" clear item-end>
                    <ion-checkbox [(ngModel)]="test.checked" color="success"></ion-checkbox>
                  </ion-item>
                </ion-item>
                <ion-item-options>
                  <button (click)="missing(slidingItem, test)" ion-button color="secondary" icon-start>
                    <ion-icon name="thumbs-down"></ion-icon>
                      Missing
                  </button>
                </ion-item-options>
              </ion-item-sliding>

              <!-- third level -->
     
              <!-- <ion-list *ngIf="child.children && child.open">
                <ion-item *ngFor="let item of child.children; let k = index; trackBy: tracker;" detail-none class="child-item" text-wrap>
                  <p>Third Level</p>
                  <h2>{{ item.rawJSON.fighter_name }}</h2>
                  <p text-lowercase>{{ item.rawJSON.fighter_name }}</p>
                </ion-item>
              </ion-list> -->
     
            </ion-list-header>
          </ion-list>
          
        </ion-list-header>
      </ion-list>
</div>
