<ion-header>
  <ion-toolbar>
    <ion-title>
      <span *ngIf="!item.name || item.name.length < 1">New Item</span>
      <span *ngIf="item.name && item.name.length > 0">{{ item.name }}</span>
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label stacked>Title</ion-label>
      <ion-input [(ngModel)]="item.name" type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>Description</ion-label>
        <ion-input [(ngModel)]="item.description" type="text"></ion-input>
    </ion-item>
    <ion-item>
        <button ion-button color="secondary" (click)="presentActionSheet()">Add Image</button>
        <h4 *ngIf="imageFileName">Image Preview</h4>
        <img src="{{imageFileName}}" *ngIf="imageFileName" alt="New Item Pic" width="200" />
    </ion-item>
  </ion-list>
  
  <button class="submitter" color="primary" ion-button full>SUBMIT</button>

</ion-content>
